<<<<<<< HEAD
.dropdown-item:hover{
    background-color: #20272F;
    color: whitesmoke;
}

/* ========================== custom navbar ============================== */

.bg-dark{
    transition: 400ms ease-out;
    background: transparent !important;
    
	padding: 30px 10% 30px 10% !important;
}

/* #20272F */
/* Dùng dấu .  */
.bg-dark.scrolled{
    background:  #201f1e !important;
	padding: 0px 2% 0px 2% !important;
}
.header-nav-link{
    color: whitesmoke !important;
} 

/* ==========================custom navbar============================== */


#menu .section-title {
	background: url(./img/menu-bg.jpg) center  no-repeat fixed;
    background-size: cover;
    min-height: 260px;
    max-height: 400px;
}



#reservation {
    padding-bottom: 5%;
}


#materials .section-title {
    background: url(./img/11.jpg) center  no-repeat fixed;
    background-size: cover;
    min-height: 260px;
    max-height: 400px;
}

#stepbystep .section-title {
    background: url(./img/15.jpg) center  no-repeat fixed;
    background-size: cover;
    min-height: 260px;
    max-height: 400px;
}

.section-title .overlay {
	padding: 80px 0;
    background: rgba(0, 0, 0, 0.7);
    color: azure;
}

body, html {
    height: 100%;
}


/* reservation */
.panel {
    text-align: center;
    font-size: xx-large;
    color: #eeeeee;
    background-color: #389e0d;
    width: 100%;
    height: 100px;
    padding: 25px;
    animation-name: panel-anim;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.panel-text {
    text-transform: uppercase;
}

@keyframes panel-anim {
    0%   {background-color: #f5222d;}
    25%  {background-color: #fa8c16;}
    50%  {background-color: #7cb305;}
    100% {background-color: #08979c;}
  }

/*================= menu =======================*/
.image-cap {
    min-height: 180px;
    margin-top: 0.25rem;
}

.caption .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
}

.caption:hover .overlay {
    opacity: 1;
}

.image-cap-txt {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}


.menu-navbar ul li a{
    color: #11100f; 
}

.menu-navbar ul li a:hover{
    background-color: #11100f;
    color: #eef3ed; 
    text-decoration: underline;
}


.menu-navbar ul li .active{
    color: #e59706; 
}
/*==============================================*/

div.wallpage {
    height:100%;
    position: relative;
}

/* make parallaxing cover image */
div.wallpage:before {
    /* The image used */
    background-image: url("./img/1.jpg");
  
    /* Set a specific height */
    min-height: 600px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    content:'';
    position:absolute;
    filter:brightness(0.8); 
    -webkit-filter:brightness(0.4);    
    left:0;top:0;bottom:0;right:0; 
    z-index:-1;
}

div.menu-background {
    height:100%;
    position: relative;
}

div.menu-background:before {
    /* The image used */
    background-image: url("./img/36.jpg");
  
    /* Set a specific height */
    min-height: 600px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    content:'';
    position:absolute;
    filter:brightness(0.8); 
    -webkit-filter:brightness(0.4);    
    left:0;top:0;bottom:0;right:0; 
    z-index:-1;
}


.center {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    color: white;
} 

.card-header {
    background-color: antiquewhite;
    color: #11100f;
    text-align: center;
    font-size: large;
}

/* =============== menu container =========================*/

ul {
    list-style: square inside url(./img/icons/fish.png);
}

/* Add animation to "page content" */
.animate-bottom {
position: relative;
-webkit-animation-name: animatebottom;
-webkit-animation-duration: 1s;
animation-name: animatebottom;
animation-duration: 1s
}

@-webkit-keyframes animatebottom {
from { bottom:-100px; opacity:0 } 
to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
from{ bottom:-100px; opacity:0 } 
to{ bottom:0; opacity:1 }
}

.food {
    display: none;
}

.show {
    display: block;
}
/* =============== menu container =========================*/


/*============= footer ================*/
.footer {
    background-color: #201f1e;
    color: blanchedalmond;
}

.footer-link {
    background-color: #00ad56;
    padding: 30px;
}

.footer-copyright{
    background-color:#11100f;
}
/*=====================================*/

/*================ table ====================*/

th {
    font-size: medium;
    font-style: italic;
}

=======
.dropdown-item:hover{
    background-color: #20272F;
    color: whitesmoke;
}

/* ========================== custom navbar ============================== */

.bg-dark{
    transition: 400ms ease-out;
    background: transparent !important;
    
	padding: 30px 10% 30px 10% !important;
}

/* #20272F */
/* Dùng dấu .  */
.bg-dark.scrolled{
    background:  #201f1e !important;
	padding: 0px 2% 0px 2% !important;
}
.header-nav-link{
    color: whitesmoke !important;
} 

/* ==========================custom navbar============================== */


#menu .section-title {
	background: url(./img/menu-bg.jpg) center  no-repeat fixed;
    background-size: cover;
    min-height: 260px;
    max-height: 400px;
}



#reservation {
    padding-bottom: 5%;
}


#materials .section-title {
    background: url(./img/11.jpg) center  no-repeat fixed;
    background-size: cover;
    min-height: 260px;
    max-height: 400px;
}

#stepbystep .section-title {
    background: url(./img/15.jpg) center  no-repeat fixed;
    background-size: cover;
    min-height: 260px;
    max-height: 400px;
}

.section-title .overlay {
	padding: 80px 0;
    background: rgba(0, 0, 0, 0.7);
    color: azure;
}

body, html {
    height: 100%;
}


/* reservation */
.panel {
    text-align: center;
    font-size: xx-large;
    color: #eeeeee;
    background-color: #389e0d;
    width: 100%;
    height: 100px;
    padding: 25px;
    animation-name: panel-anim;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.panel-text {
    text-transform: uppercase;
}

@keyframes panel-anim {
    0%   {background-color: #f5222d;}
    25%  {background-color: #fa8c16;}
    50%  {background-color: #7cb305;}
    100% {background-color: #08979c;}
  }

/*================= menu =======================*/
.image-cap {
    min-height: 180px;
    margin-top: 0.25rem;
}

.caption .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
}

.caption:hover .overlay {
    opacity: 1;
}

.image-cap-txt {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}


.menu-navbar ul li a{
    color: #11100f; 
}

.menu-navbar ul li a:hover{
    background-color: #11100f;
    color: #eef3ed; 
    text-decoration: underline;
}


.menu-navbar ul li .active{
    color: #e59706; 
}
/*==============================================*/

div.wallpage {
    height:100%;
    position: relative;
}

/* make parallaxing cover image */
div.wallpage:before {
    /* The image used */
    background-image: url("./img/1.jpg");
  
    /* Set a specific height */
    min-height: 600px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    content:'';
    position:absolute;
    filter:brightness(0.8); 
    -webkit-filter:brightness(0.4);    
    left:0;top:0;bottom:0;right:0; 
    z-index:-1;
}

div.menu-background {
    height:100%;
    position: relative;
}

div.menu-background:before {
    /* The image used */
    background-image: url("./img/36.jpg");
  
    /* Set a specific height */
    min-height: 600px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    content:'';
    position:absolute;
    filter:brightness(0.8); 
    -webkit-filter:brightness(0.4);    
    left:0;top:0;bottom:0;right:0; 
    z-index:-1;
}


.center {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    color: white;
} 

.card-header {
    background-color: antiquewhite;
    color: #11100f;
    text-align: center;
    font-size: large;
}

/* =============== menu container =========================*/

ul {
    list-style: square inside url(./img/icons/fish.png);
}

/* Add animation to "page content" */
.animate-bottom {
position: relative;
-webkit-animation-name: animatebottom;
-webkit-animation-duration: 1s;
animation-name: animatebottom;
animation-duration: 1s
}

@-webkit-keyframes animatebottom {
from { bottom:-100px; opacity:0 } 
to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
from{ bottom:-100px; opacity:0 } 
to{ bottom:0; opacity:1 }
}

.food {
    display: none;
}

.show {
    display: block;
}
/* =============== menu container =========================*/


/*============= footer ================*/
.footer {
    background-color: #201f1e;
    color: blanchedalmond;
}

.footer-link {
    background-color: #00ad56;
    padding: 30px;
}

.footer-copyright{
    background-color:#11100f;
}
/*=====================================*/

/*================ table ====================*/

th {
    font-size: medium;
    font-style: italic;
}

>>>>>>> ec648a9ac3dbcef618b982993278a86aa36a3e5c
/*================ table ====================*/